/* CSS Reset/Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --icon-opacity: 0.85;
  --header-height: 56px;
  --font-mono: 'IBM Plex Mono', monospace;
}

:root {
  --color-brand: #FD9527;
  --color-background: #FFF;
  --color-border: #DDD;
  --color-surface: #EEE;
  --color-alpha-background: rgba(255, 255, 255, 0.75);

  --color-text: #333;
  --color-text-invert: #FFF;
  --color-text-secondary: #666;
  --color-text-tertiary: #999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-brand: #FD9527;
    --color-background: #1E1E1E;
    --color-border: #333;
    --color-surface: #111;
    --color-alpha-background: rgba(30, 30, 30, 0.75);

    --color-text: #FFF;
    --color-text-invert: #333;
    --color-text-secondary: #AAA;
    --color-text-tertiary: #666;
  }
}

html,
body {
  font-family: 'Rubik', sans-serif;
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-background);
}

body:has(dialog[open]) {
  overscroll-behavior: none;
}

input,
button {
  font-family: inherit;
}

a {
  color: var(--color-text);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--color-text-tertiary);
  text-underline-offset: 0.1875rem;
}

a:hover {
  color: var(--color-text);
  text-decoration-color: var(--color-text);
}

.site-wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 0.75rem;
}
